@model IEnumerable<ExchangeRequest>
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - FBC</title>
    <link rel="stylesheet" href="~/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/FBC.styles.css" asp-append-version="true" />
    <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Philosopher' rel='stylesheet'>
    <script src="https://kit.fontawesome.com/a21db75261.js" crossorigin="anonymous"></script>
    <style>
        body {
            background: url(/asset/image/library.png);
            margin: 0;
            font-family: Roboto
        }

        @@media (min-width: 1666px) {
            .container, .container-xxl {
                max-width: 1555px;
            }
        }

        body {
            min-height: 100vh;
            min-height: -webkit-fill-available;
        }

        html {
            height: -webkit-fill-available;
        }

        main {
            height: 100vh;
            height: -webkit-fill-available;
            max-height: 100vh;
            overflow-x: auto;
            overflow-y: hidden;
        }

        .dropdown-toggle {
            outline: 0;
        }

        .btn-toggle {
            padding: .25rem .5rem;
            font-weight: 600;
            color: var(--bs-emphasis-color);
            background-color: transparent;
        }

            .btn-toggle:hover,
            .btn-toggle:focus {
                color: rgba(var(--bs-emphasis-color-rgb), .85);
                background-color: limegreen;
            }

            .btn-toggle::before {
                width: 1.25em;
                line-height: 0;
                content: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='rgba%280,0,0,.5%29' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M5 14l6-6-6-6'/%3e%3c/svg%3e");
                transition: transform .35s ease;
                transform-origin: .5em 50%;
            }

            .btn-toggle::before {
                content: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='rgba%28255,255,255,.5%29' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M5 14l6-6-6-6'/%3e%3c/svg%3e");
            }

            .btn-toggle[aria-expanded="true"] {
                color: rgba(var(--bs-emphasis-color-rgb), .85);
            }

                .btn-toggle[aria-expanded="true"]::before {
                    transform: rotate(90deg);
                }

        .btn-toggle-nav a {
            padding: .1875rem .5rem;
            margin-top: .125rem;
            margin-left: 1.25rem;
        }

            .btn-toggle-nav a:hover,
            .btn-toggle-nav a:focus {
                background-color: var(--bs-tertiary-bg);
            }

        .scrollarea {
            overflow-y: auto;
        }

    </style>
    <style>
        .main {
            background-color: rgba(255, 255, 255, 0.7);
            backdrop-filter: blur(8px);
        }

        .fa-circle-info:before {
            font-size: 20px
        }

        .main th{
            border-style:none;
        }

        .main th, .cell-center {
            text-align: center;
            vertical-align: middle;
        }
    </style>
</head>
<body>
    <div class="d-flex flex-row flex-nowrap vh-100">
        <div class="bg-dark d-flex flex-column flex-shrink-0 p-3 max-vh-100" style="width: 230px; max-height: 100vh; ">
            <a href="/" class="d-flex align-items-center pb-3 mb-3 link-body-emphasis text-decoration-none border-bottom">
                <svg class="bi pe-none me-2" width="30" height="24"><use xlink:href="#bootstrap"></use></svg>
                <span class="fs-5 text-white fw-semibold">Collapsible</span>
            </a>
            <ul class="flex-grow-1 list-unstyled ps-0 overflow-auto">
                <li class="mb-1">
                    <button class="text-white btn btn-toggle d-inline-flex align-items-center rounded border-0" data-bs-toggle="collapse" data-bs-target="#dashboard-collapse" aria-expanded="true">
                        Dashboard
                    </button>
                    <div class="collapse show" id="dashboard-collapse" style="">
                        <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                            <li><a href="#" class="text-white link-body-emphasis d-inline-flex text-decoration-none rounded">Overview</a></li>
                            <li><a href="#" class="text-white link-body-emphasis d-inline-flex text-decoration-none rounded">Earning</a></li>
                        </ul>
                    </div>
                </li>
                <li class="mb-1">
                    <button class="text-white btn btn-toggle d-inline-flex align-items-center rounded border-0" data-bs-toggle="collapse" data-bs-target="#home-collapse" aria-expanded="true">
                        Users
                    </button>
                    <div class="collapse show" id="home-collapse" style="">
                        <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                            <li><a href="#" class="text-white link-body-emphasis d-inline-flex text-decoration-none rounded">Exchange requests</a></li>
                            <li><a href="#" class="text-white link-body-emphasis d-inline-flex text-decoration-none rounded">Users list</a></li>
                        </ul>
                    </div>
                </li>
                <li class="mb-1">
                    <button class="text-white btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed" data-bs-toggle="collapse" data-bs-target="#orders-collapse" aria-expanded="false">
                        Books
                    </button>
                    <div class="collapse" id="orders-collapse" style="">
                        <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                            <li><a href="#" class="text-white link-body-emphasis d-inline-flex text-decoration-none rounded">Create</a></li>
                            <li><a href="#" class="text-white link-body-emphasis d-inline-flex text-decoration-none rounded">Update book</a></li>
                            <li><a href="#" class="text-white link-body-emphasis d-inline-flex text-decoration-none rounded">View Store</a></li>
                        </ul>
                    </div>
                </li>
            </ul>
            <ul class="list-unstyled ps-0">
                <li class="border-top my-3"></li>
                <li class="mb-1">
                    <button class="text-white btn d-inline-flex align-items-center rounded border-0 collapsed">
                        Logout
                    </button>
                </li>
            </ul>
        </div>
        <div class="main flex-grow-1 m-4 align-self-center" style="height:90%">
            <div>
                <h5>Filter:</h5>
            </div>
            <div class="list;">
                <table class="table table-striped table-bordered">
                    <thead class="border-bottom border-black table-success ">
                        <tr>
                            <th scope="col">User</th>
                            <th scope="col">Bookcoin</th>
                            <th scope="col">Condition</th>
                            <th scope="col">Message</th>
                            <th scope="col">Status</th>
                            <th scope="col">Open</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var eq in Model)
                        {
                            <tr>
                                <th class="cell-center" scope="row" style="width:1%">
                                    @eq.User.Email <br />
                                    <span style="font-weight:normal">@eq.User.UserName    </span>
                                </th>
                                <td class="cell-center" style="width:1%">@eq.Credit</td>
                                <td class="cell-center" style="width:1%">@eq.Condition</td>
                                <td>
                                    <div style="text-align:justify;max-height:100px; overflow-y:auto">
                                        @eq.Description
                                    </div>
                                </td>
                                <td class="cell-center" style="width:1%">@eq.getStatus()</td>
                                <td class="cell-center" style="width:1%">
                                    <i class="fa-solid fa-circle-info"></i>
                                </td>
                            </tr>
                        }

                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
</body>
</html>
