@model IEnumerable<FBC.Models.Book>

@{
    var cate = (IEnumerable<dynamic>)ViewData["catelist"];
}

@section Stylesheets{
    <style>
        .input-group-text{
            background-color:unset;
            border-left:none;
            border-right:none;
        }
        .book-search{
            border-left:none;
            border-right:none;
        }
        .category-list{
            height:500px;
            border: 1px solid rgba(0,0,0,0.2);
            padding: 10px;
            padding-right:0;
            box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
        }
        .price-range{
            align-items: center;
            display: flex;
            justify-content: space-between;
        }
        .price-range-input{
            background-color: #fff;
            border: 1px solid rgba(0, 0, 0, .26);
            border-radius: .125rem;
            box-shadow: inset 0 1px 0 0 rgba(0,0,0,.05);
            box-sizing: border-box;
            font-size: .8125rem;
            height: 1.875rem;
            outline: none;
            padding-left: .3125rem;
            width: 5.375rem;
        }
        .price-range-line{
            background: #bdbdbd;
            flex: 1;
            height: 1px;
            margin: 0 .625rem;
        }

        .btn-success, .button-active{
            background-color:limegreen !important;
        }
        .filter-bar{
            display: grid;
            grid-template-columns: auto auto;
            justify-content:space-between;
            background: rgba(0, 0, 0, .05);
        }
        .filter-item{
            align-content: center;
        }
        .filter-button{
            background:white;
        }
        .button-active{
            color:white;
        }
        .price-sort{
           
        }
        .list-book{
            display: grid;
            grid-template-columns: auto auto auto auto auto;
            grid-gap: 30px 5px;
            place-items: center;
        }
        .book-image{
            max-width:200px;
            text-align:center;
            aspect-ratio: 1 / 1;
        }
        .book img {
            height:100%;
        }

        .book {
            border: 1px solid rgba(0, 0, 0, .125);
            max-width: 200px;
            box-shadow: 0 5px 5px #00000047;    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
            border-radius: 0px;
        }
    </style>
}

<div class="container-xxl mt-3 p-2 pe-4">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-10">
            <div class="input-group">
                <span class="input-group-text" id="basic-addon1">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                        <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0"></path>
                    </svg>
                </span>
                <input type="text" class="form-control book-search" placeholder="Find your favourite Titles" aria-label="Input group example" aria-describedby="basic-addon1">
                <span style="margin:5px 0;border-left: 1px solid #ced4da"></span>
                <button class="input-group-text" id="basic-addon1">
                    <span style="color: limegreen">Search</span>
                </button>
            </div>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-md-2">
            <h5>Price range</h5>
            <div class="price-range">
                <input type="text" placeholder="From " class="price-range-input"/>
                <div class="price-range-line"></div>
                <input type="text" placeholder="To " class="price-range-input"/>
            </div>
            <button style="width:100%" type="button" class="mt-3 btn btn-success">APPLY</button>
            <hr />
            <h5 style="">Discovery by Category</h5>
            <div class="category-list me-10">
                <p>All Categories</p>
                @foreach(var item in cate)
                {
                    <p>
                        <a>@item.Name</a>
                    </p>
                }
            </div>
        </div>
        <div class="col-md-10">
            <div class="filter-bar">
                <div class="search-result p-2">
                    <span style="font-size:1.5rem;font-family:Georgia;margin:0 ">All books / Search result for: ""</span>
                </div>
                <div class="filter-item p-2">
                    <button type="button" class="btn filter-button button-active">Latest</button>
                    <select name="priceSort" class="price-sort btn filter-button">
                        <option value="" disabled hidden selected>Sort by price</option>
                        <option value="asc">Ascending</option>
                        <option value="desc">Descending</option>
                    </select>
                    <select name="conditionSort" class="condition-sort btn filter-button">
                        <option value="" disabled hidden selected>Sort by book's condition</option>
                        <option value="desc">Best to Old</option>
                        <option value="asc">Old to Best</option>
                    </select>
                </div>
            </div>
            <div class="list-book mt-3">
                @foreach(var item in Model)
                {
                    <a asp-controller="Books" asp-action="testbook" asp-route-id="@item.BookId" style="text-decoration:none;">
                        <div class="book pt-2 pb-2">
                            <div class="book-image">
                                <img src="@item.Image1" />
                            </div>
                            <div class="pt-2 pb-2">
                            <h6 style="font-weight:bold;color:black;text-align:left;margin-left:10%;">@item.Title - @item.Author</h6>
                            <h6 style="font-weight:bold;color: #57c592; text-align:right;margin-right:10%">@item.Credit Credit</h6>
                            </div>
                        </div>
                    </a>
                }
            </div>
        </div>
    </div>
</div>

