@model FBC.Models.CartOrder

@{
    ViewData["Title"] = "Cart";
    var total = ViewData["Total"];
}

@section Stylesheets {
    <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>
    <style>

        .mt-large {
            margin-top: 5rem;
        }

        .active-header {
            color: #56B280;
        }

        .cart-nav a {
            text-decoration: none;
        }

    </style>
}
<div class="container mt-large" style="font-family:Philosopher">
    <h3 style="font-family: Poppins;text-align:center"> Your cart items</h3>
    <div class="cart-nav mb-4">
        <a href="/" class="active-header">FBC</a>
        <img alt="icon arrow right" class="EB95ts" src="https://deo.shopeemobile.com/shopee/shopee-pcmall-live-sg/productdetailspage/966fbe37fe1c72e3f2dd.svg">
        <a href="#" class="active-header">Cart</a>
        <img alt="icon arrow right" class="EB95ts" src="https://deo.shopeemobile.com/shopee/shopee-pcmall-live-sg/productdetailspage/966fbe37fe1c72e3f2dd.svg">
        <span>Shipping</span>
        @* <img alt="icon arrow right" class="EB95ts" src="https://deo.shopeemobile.com/shopee/shopee-pcmall-live-sg/productdetailspage/966fbe37fe1c72e3f2dd.svg">
        <span>Payment</span> *@
    </div>
    <section class="h-100 h-custom" style="background-color: #eee;">
        <div class="container py-5 h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col">
                    <div class="card">
                        <div class="card-body p-4">

                            <div class="row">

                                <div class="col-lg-7">
                                    <h5 class="mb-3">
                                        <a asp-controller="Books" asp-action="Index" class="text-body">
                                            <i class="fas fa-long-arrow-alt-left me-2"></i>Continue shopping
                                        </a>
                                    </h5>
                                    <hr>

                                    <div class="d-flex justify-content-between align-items-center mb-4">
                                        <div>
                                            <p class="mb-1">Shopping cart</p>
                                            @* <p class="mb-0">You have items in your cart</p> *@
                                        </div>
                                        <div>
                                            <p class="mb-0">
                                                <span class="text-muted">Sort by:</span> <a href="#!"
                                                                                            class="text-body">price <i class="fas fa-angle-down mt-1"></i></a>
                                            </p>
                                        </div>
                                    </div>




                                    @foreach (var item in Model.Books)
                                    {
                                        <div class="card mb-3">
                                            <div class="card-body">
                                                <div class="d-flex justify-content-between">
                                                    <div class="d-flex flex-row align-items-center">
                                                        <div>
                                                            <img src="@item.Image1"
                                                                 class="img-fluid rounded-3" alt="Shopping item" style="width: 65px;">
                                                        </div>
                                                        <div class="ms-3">
                                                            <a asp-controller="Books" asp-action="testbook" asp-route-id="@item.BookId" style="text-decoration:none;color:black">
                                                                <h5>@item.Title</h5>
                                                                <p class="small mb-0">@item.Condition</p>
                                                            </a>
                                                        </div>
                                                    </div>
                                                    <div class="d-flex flex-row align-items-center">
                                                        @* <div style="width: 50px;">
                                                    <h5 class="fw-normal mb-0">2</h5>
                                                    </div> *@
                                                        <div style="width: 80px;">
                                                            <h5 class="mb-0">@item.Credit.Value.ToString("#,##0.")</h5>
                                                        </div>
                                                        <a asp-action="RemoveCart" asp-controller="Cart" asp-route-id="@item.BookId" style="color: #cecece;"><i class="fas fa-trash-alt"></i></a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    }

                                </div>
                                <div class="col-lg-5">

                                    <div style="background-color:#37a572" class="card text-white rounded-3">
                                        <div class="card-body">
                                            <div class="d-flex justify-content-between align-items-center mb-4">
                                                <h5 class="mb-0">Order details</h5>
                                            </div>

                                            @* <p class="small mb-2">Card type</p>
                                            <a href="#!" type="submit" class="text-white">
                                            <i class="fab fa-cc-mastercard fa-2x me-2"></i>
                                            </a>
                                            <a href="#!" type="submit" class="text-white">
                                            <i class="fab fa-cc-visa fa-2x me-2"></i>
                                            </a>
                                            <a href="#!" type="submit" class="text-white">
                                            <i class="fab fa-cc-amex fa-2x me-2"></i>
                                            </a>
                                            <a href="#!" type="submit" class="text-white"><i class="fab fa-cc-paypal fa-2x"></i></a>
                                            *@
                                            <form class="mt-4" asp-action="Checkout" asp-controller="Cart" method="post">
                                                <div data-mdb-input-init class="form-outline form-white mb-4">
                                                    <input required name="Recipient" type="text" id="typeName" class="form-control form-control-lg" siez="55"
                                                           placeholder="Recipient Name"/>
                                                    <label class="form-label" for="typeName">Recipient Name</label>
                                                </div>

                                                <div data-mdb-input-init class="form-outline form-white mb-4">
                                                    <input required name="Address" type="text" id="typeText" class="form-control form-control-lg" siez="17"
                                                           placeholder="Address" maxlength="200" />
                                                    <label class="form-label" for="typeText">Address</label>
                                                </div>

                                                <div data-mdb-input-init class="form-outline form-white mb-4">
                                                    <input required name="Phone" type="text" id="typeText" class="form-control form-control-lg" siez="17"
                                                           placeholder="+84-23456789" maxlength="11" />
                                                    <label class="form-label" for="typeText">Phone Number</label>
                                                </div>

                                                @* <div class=" row mb-4">
                                                <div class="col-md-6">
                                                <div data-mdb-input-init class="form-outline form-white">
                                                <input type="text" id="typeExp" class="form-control form-control-lg"
                                                placeholder="+84-23456789" size="11" id="exp" minlength="11" maxlength="11" />
                                                <label class="form-label" for="typeExp">Phone Number</label>
                                                </div>
                                                </div>
                                                <div class="col-md-6">
                                                <div data-mdb-input-init class="form-outline form-white">
                                                <input type="text" id="typeText" class="form-control form-control-lg"
                                                placeholder="&#9679;&#9679;&#9679;" size="1" minlength="3" maxlength="3" />
                                                <label class="form-label" for="typeText">Cvv</label>
                                                </div>
                                                </div>
                                                </div> *@


                                                <hr class="my-4">

                                                <div class="d-flex justify-content-between">
                                                    <p class="mb-2">Subtotal</p>
                                                    <p class="mb-2">@ViewData["CartTotal"] Bookcoin</p>
                                                </div>

                                                <div class="d-flex justify-content-between">
                                                    <p class="mb-2">Shipping</p>
                                                    <p class="mb-2">5</p>
                                                </div>

                                                <div class="d-flex justify-content-between mb-4">
                                                    <p class="mb-2">Total</p>
                                                    <p class="mb-2">@ViewData["total"] Bookcoin</p>
                                                    <input name="Total" value="@ViewData["total"]" hidden />
                                                </div>

                                                <button type="submit" data-mdb-button-init data-mdb-ripple-init class="btn btn-info btn-block btn-lg">
                                                    <div class="d-flex justify-content-between">
                                                        <span></span>
                                                        <span>Checkout <i class="fas fa-long-arrow-alt-right ms-2"></i></span>
                                                    </div>
                                                </button>

                                                <h4 style="color:salmon">@TempData["SuccessMessage"]</h4>
                                            </form>
                                        </div>
                                    </div>

                                </div>

                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

